h1
{
    float:center;
    color:red;
}

.form{
   margin-top: 100px;
   margin-left: 50px;
   
}
#country{
    margin-top: 100px;
       
 }
.myform{
    color:aquamarine;
    /* margin-left: 250px; */
    display: block;
    text-align: center;
}
button{
    background-color: aquamarine;
    margin-left: 50px;
}